/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main components */

body {
  background: teal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

/* Utilities */
.container {
  max-width: 1000px;
  margin: auto;
}

/* Other components */

#nav-header {
  background: #333;
  overflow: auto;
}

/* Nav */

#nav-header h1 {
  font-size: large;
  font-weight: bold;
  float: left;
  padding: 20px;
}

#nav-header h1 a {
  color: white;
}

#nav-header ul {
  float: right;
}

#nav-header ul li {
  float: left;
  list-style: none;
}

#nav-header li a {
  color: white;
  padding: 20px;
  display: block;
}

#nav-header li a:hover,
#nav-header li a.current {
  background: #444;
  color: #f7c08a;
}
