/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main components */

body {
  /* background: teal; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6rem;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

/* Utilities */
.container {
  max-width: 1000px;
  margin: auto;
}

.clr {
  clear: both;
}

/* Other components */

#nav-header {
  background: #333;
  overflow: auto;
}

/* Nav */

#nav-header h1 {
  font-size: large;
  font-weight: bold;
  float: left;
  padding: 20px;
}

#nav-header h1 a {
  color: white;
}

#nav-header h1 a span {
  color: #f7c08a;
}

#nav-header ul {
  float: right;
}

#nav-header ul li {
  float: left;
  list-style: none;
}

#nav-header li a {
  color: white;
  padding: 20px;
  display: block;
}

#nav-header li a:hover,
#nav-header li a.current {
  background: #444;
  color: #f7c08a;
}

/* Showcase */

#showcase {
  background-image: url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  text-align: center;
  position: relative;
}

.showcase-content {
  color: white;
  padding: 0 25%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.showcase-content h1 {
  font-size: 3rem;
  margin-bottom: 3%;
  /* line-height: 1.2rem; */
}

.showcase-content h1 span {
  color: #f7c08a;
}

.showcase-content p {
  margin-bottom: 4%;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.showcase-content a {
  display: inline-block;
  background: #333;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
}

.showcase-content a:hover {
  background: rgb(14, 13, 13);
}

/* HOME INFO */

#home-info {
  background-image: url('../img/photo-1.jpg');
  height: 300px;
  color: white;
  text-align: center;
}

#home-info .info {
  background-color: #333;
  display: block;
  float: right;
  width: 350px;
  height: 300px;

  padding: 1% 3%;
}

#home-info .info h3 {
  text-align: center;
  padding: 8% 0;
}

#home-info .info h3 span {
  color: #f7c08a;
}

#home-info .info p {
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 13%;
}

#home-info .info a {
  background: white;
  color: #333;
  font-size: 0.8rem;
  padding: 2px 6px;
  display: block;
  width: 80px;
  margin: auto;
  border-radius: 5px;
}

#home-info .info a:hover {
  background: #000;
  color: #fff;
}

/* FEATURES SECTION */

.feature {
  width: 33.3333%;
  float: left;
}

.feature-header {
  text-align: center;
  margin: 30px;
}

.feature-header img {
  height: 40px;
  width: 40px;
}

.feature-header p {
  font-size: 0.9rem;
  padding: 6% 10%;
}

.feature1 {
  background: #fff;
}

.feature2 {
  background: #f7c08a;
}

.feature3 {
  background: #fff;
}

/* FOOTER */

footer {
  text-align: center;
  background: #444;
  font-size: 0.8rem;
  color: white;
  padding: 30px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* ABOUT PAGE */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
.about-info {
  height: 300px;
  text-align: center;
}

.about-text {
  width: 600px;
  padding: 40px 6%;
  margin-left: 40px;
}

.about-text h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-text h2 span {
  color: #f7c08a;
}

.about-text p {
  font-size: 0.9rem;
}

.about-info img {
  width: 360px;
  height: 220px;
  float: right;
  box-shadow: 4px 12px 14px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 40px 120px;
}

/* TESTIMONIALS SECTION */

#testimonials {
  background-image: url('../img/test-bg.jpg');
  background-size: cover;
  height: 600px;
  position: relative;
}

#testimonials h2 {
  padding-top: 6%;
  color: white;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 60px;
}

.testimonial-block {
  height: 80px;
  width: 600px;
  background: rgba(255, 127, 80, 0.9);
  margin: 0 auto;
  margin-bottom: 60px;
  border-radius: 7px;
}

.testimonial-block img {
  height: 90%;
  border-radius: 50%;
  float: left;
  margin: 4px 3px;
  margin-right: 3%;
}

.testimonial-block p {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #333;
  padding: 15px;
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/* CONTACT PAGE */
/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

/* CONTACT FORM */
#contact-form {
  margin: 4%;
}

#contact-form h2 {
  margin-bottom: -10px;
  font-size: 2rem;
}

#contact-form h2 span {
  color: #f7c08a;
}

#contact-form p {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.form-block {
  margin: 8px 0;
}

.form-block label {
  display: block;
  font-size: 0.7rem;
}

.form-block input {
  display: block;
  width: 50%;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1%;
}

#contact-form textarea {
  display: block;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1%;
}

#contact-form button {
  margin-top: 25px;
  display: block;
  padding: 8px 12px;
  background: #333;
  color: white;
  border: none;
}

#contact-form button:hover {
  background: #f7c08a;
  color: #333;
  cursor: pointer;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

/* CONTACT ICONS */
.icon {
  width: 33.3333%;
  float: left;
  background: #333;
  color: white;
}

.icon-header {
  text-align: center;
  margin: 30px;
}

.icon-header img {
  height: 40px;
  width: 40px;
}

.icon-header p {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 6% 10%;
}
